body {
  padding: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 2em;
}

.box-one {
  background-color: #f1c40f;
  width: 100px;
  height: 90px;
}

.container {
  border: 1px solid red;
  height: 400px;
  /* width: auto; */
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  flex-direction: row-reverse;
}
.box-two {
  background-color: purple;
  width: 100px;
  height: 90px;
}
.box-three {
  background-color: blue;
  width: 100px;
  height: 90px;
}
